<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   
   <form method="POST" action="/newteam">
     <input type="text" name="string">
     <input type="submit" value="Team Name">
     
      <input type="text" coach="string">
     <input type="submit" value="Coach">
     
      <input type="text" pg="string">
     <input type="submit" value="Point Guard">
     
      <input type="text" sg="string">
     <input type="submit" value="Shooting Guard">
     
      <input type="text" sf="string">
     <input type="submit" value="Small Forward">
     
      <input type="text" pf="string">
     <input type="submit" value="Power Forward">
     
      <input type="text" c="string">
     <input type="submit" value="Center">
     
     
     
     
     
     
   </form>
 </body>
</html>


